.hero-section {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  gap: 0.5rem;
  border-radius: 1.2rem;
  background-color: #111010;

  .col {
    flex: 1;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 10rem;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      transition: 0.4s ease;
      cursor: pointer;
      text-decoration: none;
      color: #171717;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 8px rgba(58, 111, 78, 0.8),
          0 0 15px rgba(58, 111, 78, 0.6), 0 0 25px rgba(58, 111, 78, 0.4),
          0 0 40px rgba(58, 111, 78, 0.3);
        transition: box-shadow 0.3s;
      }
    }
  }
  .col-left {
    flex: 2;
    .row {
      height: calc(100% / 1);
    }
  }

  .col-middle {
    .row {
      height: 100%;
    }
  }

  .col-right {
    .row {
      height: calc(100% / 1);
    }
  }
}

.box-1 {
  background-color: #272727;
  background-image: url("./src/backgrounds/1.webp");
  background-size: cover;
  background-position: center;
  h2 {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.box-2 {
  background-color: #272727;
}

.box-3 {
  background-color: #272727;
  background-image: url("./src/backgrounds/4.webp");
  background-size: cover;
  background-position: center;
  h2 {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.box-4 {
  background-color: #272727;
}

.box-5 {
  background-color: #272727;
}

.box-6 {
  background-color: #272727;
  background-image: url("./src/backgrounds/2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h2 {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
  }
}
