.hero-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .col {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 20rem;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      transition: 0.4s ease;
      cursor: pointer;
      text-decoration: none;
      color: #171717;

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 8px rgba(58, 111, 78, 0.8),
          0 0 15px rgba(58, 111, 78, 0.6), 0 0 25px rgba(58, 111, 78, 0.4),
          0 0 40px rgba(58, 111, 78, 0.3);
        transition: box-shadow 0.3s;
      }
    }
  }
  .col-left {
    flex: 2;
    .row {
      height: calc(100% / 3);
    }
  }

  .col-middle {
    .row {
      height: calc(100% / 2);
    }
  }

  .col-right {
    .row {
      height: 100%;
    }
  }
}

.box-1 {
  background-color: #272727;
  background-image: url("./src/backgrounds/1.webp");
  background-size: cover;
  background-position: center;
  h2 {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.box-2 {
  background-color: #272727;
}

.box-3 {
  background-color: #272727;
  background-image: url("./src/backgrounds/4.webp");
  background-size: cover;
  background-position: center;
  h2 {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.box-4 {
  background-color: #272727;
}

.box-5 {
  background-color: #272727;
}

.box-6 {
  background-color: #272727;
  background-image: url("./src/backgrounds/2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h2 {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.card-forest::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none; /* blockiert keine Klicks */
  opacity: 0;
  box-shadow: 0 2px 6px rgba(30, 90, 50, 0.3), 0 6px 12px rgba(30, 90, 50, 0.2),
    0 12px 24px rgba(30, 90, 50, 0.15);
  transition: opacity 0.3s ease;
  z-index: 1;
}
