/* basicStyles & Farben */
:root {
  --primary-green: #1ea445; /*logo-grün*/
  --accent-yellow: #c4ff00; /*highlight-gelb*/
  --secondary-green: #1be521; /* Hover/ Akzent-Grün */
  --dark-bg: #121212; /* Darkmode-BG */
  --light-text: #e0e0e0; /* Text/ Glass-Effekt*/
  --light-bg: #f5f5f5; /* Lightmode-BG */
  --first-bg: #0c181b;
  --second-bg: #0d1b1e;
  --glass-overlay: rgba(255, 255, 255, 0.1);
}

/* Hintergrundfarben */
.bg-primary-green {
  background-color: var(--primary-green);
}
.bg-accent-yellow {
  background-color: var(--accent-yellow);
}
.bg-secondary-green {
  background-color: var(--secondary-green);
}
.bg-dark-bg {
  background-color: var(--dark-bg);
}
.bg-light-bg {
  background-color: var(--light-bg);
}
.bg-first-bg {
  background-color: var(--first-bg);
}

.bg-second-bg {
  background-color: var(--second-bg);
}

.glass-overlay-bg {
  background: linear-gradient(135deg, #0d1b1e 20%, #1a2f3a 40%, #c4ff00 100%),
    rgba(255, 255, 255, 0.1); /* optionaler Overlay */
}

/* Textfarben */
.text-primary-green {
  color: var(--primary-green);
}
.text-accent-yellow {
  color: var(--accent-yellow);
}
.text-secondary-green {
  color: var(--secondary-green);
}
.text-dark-bg {
  color: var(--dark-bg);
}
.text-light-text {
  color: var(--light-text);
}
.text-light-bg {
  color: var(--light-bg);
}
.text-first-bg {
  color: var(--first-bg);
}

