@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, forest;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}